.ReactModal {
  position: absolute;
  top: 40px;
  bottom: 40px;
  background-color: #ffffff;
  width: 90%;
  max-width: 900px;
  padding: 25px;
  outline: none;
  overflow-y: auto;
  overflow-x: hidden;
  @include media-less-than($md-width) {
    left: 5%;
  }
  @include media-more-than($md-width) {
    left: 50%;
    margin-left: -450px;
  }
}

.ReactModal-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.ModalContent {
  position: relative;
  color: #000;
  height: 100%;
  overflow: hidden;
  @include media-less-than($sm-width) {
    overflow: auto;
  }
  .slick-track {
    transition: transform 600ms ease;
  }
}
.ModalContent-close {
  position: absolute;
  top: -8px;
  right: -2px;
  border: none;
  font-size: 30px;
  font-weight: bold;
  //transform: scale3d(1.2, 1, 1);
  background: transparent;
}
.ModalContent-wrapper {
  position: relative;
}
.ModalContent-content {
  position: relative;
  //min-height: 400px;
  height: 500px;
  overflow-y: auto;
  @include media-less-than($sm-width) {
    height: auto;
  }
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin: -100px 0 0 -150px;
    color: #000000;
    z-index: 1;
    font-family: 'PT Sans Narrow';
    font-size: 34px;
    text-align: center;
  }
}
.Table-Modal {
  h1 {
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    background-color: #eaeaea;
    font-size: 20px;
  }
  p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  table {
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    margin: 20px 0;
    td, th {
      padding: 5px;
      border: solid 1px #727272;
    }
    th {
      background-color: #eaeaea;
      font-weight: bold;
    }
    td {
      background: none;
    }
  }
}